[project]
	description = Pricepool tracker for the international
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/materemias
[access "refs/for/refs/*"]
	read = group user/materemias
	push = group user/materemias
	label-Code-Review = -2..+2 group user/materemias
	label-Verified = -1..+1 group user/materemias
	rebase = group user/materemias
	removeReviewer = group user/materemias
	submit = group user/materemias
[access "refs/heads/*"]
	read = group user/materemias
	create = group user/materemias
	push = +force group user/materemias
	pushMerge = group user/materemias
[access "refs/tags/*"]
	push = +force group user/materemias
	pushTag = group user/materemias
	pushSignedTag = group user/materemias
